In [1]:
import pandas as pd

In [2]:
read_csv_path = './hunter-info.csv'
save_csv_path = './result1-2.csv'

frame_data = pd.read_csv(read_csv_path, encoding='GBK')

In [3]:
frame_data.head(3)

,job_id,hunter_name,hunter_sex,hunter_bthday,hunter_addr,hunter_exp,hunter_sociality,hunter_eval,exp_position,exp_min_wage,...,exp_report,resume_keys,job_exps,project_exps,competition_exps,education_exps,training_exps,skill_exps,language_exps,cert_exps
0,1579833809761861632,李先生,0.0,2000-05-29 00:00:00.0,广东省中山市中山,无经验,MASSES,担任过班干、技术部部长、项目负责人因此具有一定组织力，技术方面：荣获python编程国赛三等...,"['数据分析师', '数据挖掘工程师']",4000,...,时间待议,"['python', '数据分析', '机器学习', '深度学习']",['广东泰迪智能科技股份有限公司[助教]:人工智能方面的技术支持，包括软件安装、理论知识和课...,['银行客户忠诚度分析[数据分析]:1 对客户数据进行预处理，并对字符型数据进行特征编码。2...,"['泰迪杯[一等奖]:第四届泰迪杯数据分析技能赛', '其他[铜牌]:“第七届中国国际“互联...",[],[],"['python[MASTER]', '数据分析[SKILLED]', '数据建模（机器学习...",[],['1+X中级数据分析师[其他]']
1,1631284316023685120,赖先生,0.0,2001-01-06T16:00:00.000Z,广东省深圳市龙岗区,无经验,LEAGUE_MEMBER,熟悉MySQL和Python,"['数据分析师', '其他', '数据挖掘工程师']",3000,...,1周后到岗,[],[],[],[],[],[],[],[],[]
2,1631491020585828352,陈先生,0.0,2000-04-09T16:00:00.000Z,广东省惠州市博罗县,无经验,LEAGUE_MEMBER,熟练使用 Python 语言，了解基础机器学习和深度学习算法和模型，多次参加数据类比赛并获奖...,"['数据分析师', '数据挖掘工程师', '其他']",5000,...,2周后到岗,[],[],['肥料登记数据分析[核心成员]:项目概述：肥料是农业生产中一种重要的生产资料，其生产销售必...,"['泰迪杯[二等奖]:第九届泰迪杯数据挖掘挑战赛', '泰迪杯[一等奖]:第四届泰迪杯数据分...",['韩山师范学院[本科]:[统计学]'],['广东泰迪智能科技股份有限公司[数据分析]'],"['Python[SKILLED]', 'MySql[GOOD]']",[],[]

In [7]:
for hunter_sex in frame_data['hunter_sex'].unique():
    if pd.isna(hunter_sex): continue
    print(hunter_sex, frame_data[frame_data['hunter_sex'] == hunter_sex].iloc[0, 0])

hunter_sex_kind_json = {0: '男', 1: '女'}

0.0 1579833809761861632
1.0 1630884821167374336

In [10]:
for hunter_sociality in frame_data['hunter_sociality'].unique():
    if pd.isna(hunter_sociality): continue
    print(hunter_sociality, frame_data[frame_data['hunter_sociality'] == hunter_sociality].iloc[0, 0])

require_kind_json = { 'MASSES': '群众', 'LEAGUE_MEMBER': '共青团员', 'PARTY_MEMBER': '党员', 'PROBATIONARY_PARTY_MEMBER': '预备党员'}

MASSES 1579833809761861632
LEAGUE_MEMBER 1631284316023685120
PARTY_MEMBER 1627308899029876736
PROBATIONARY_PARTY_MEMBER 1583024721031725056