In [1]:
import pandas as pd
import cpca
from datetime import datetime

In [2]:
read_csv_path = './hunter-info.csv'
save_csv_path = './result1-2.csv'

frame_data = pd.read_csv(read_csv_path, encoding='GBK')

In [3]:
frame_data.head(3)

,job_id,hunter_name,hunter_sex,hunter_bthday,hunter_addr,hunter_exp,hunter_sociality,hunter_eval,exp_position,exp_min_wage,...,exp_report,resume_keys,job_exps,project_exps,competition_exps,education_exps,training_exps,skill_exps,language_exps,cert_exps
0,1579833809761861632,李先生,0.0,2000-05-29 00:00:00.0,广东省中山市中山,无经验,MASSES,担任过班干、技术部部长、项目负责人因此具有一定组织力，技术方面：荣获python编程国赛三等...,"['数据分析师', '数据挖掘工程师']",4000,...,时间待议,"['python', '数据分析', '机器学习', '深度学习']",['广东泰迪智能科技股份有限公司[助教]:人工智能方面的技术支持，包括软件安装、理论知识和课...,['银行客户忠诚度分析[数据分析]:1 对客户数据进行预处理，并对字符型数据进行特征编码。2...,"['泰迪杯[一等奖]:第四届泰迪杯数据分析技能赛', '其他[铜牌]:“第七届中国国际“互联...",[],[],"['python[MASTER]', '数据分析[SKILLED]', '数据建模（机器学习...",[],['1+X中级数据分析师[其他]']
1,1631284316023685120,赖先生,0.0,2001-01-06T16:00:00.000Z,广东省深圳市龙岗区,无经验,LEAGUE_MEMBER,熟悉MySQL和Python,"['数据分析师', '其他', '数据挖掘工程师']",3000,...,1周后到岗,[],[],[],[],[],[],[],[],[]
2,1631491020585828352,陈先生,0.0,2000-04-09T16:00:00.000Z,广东省惠州市博罗县,无经验,LEAGUE_MEMBER,熟练使用 Python 语言，了解基础机器学习和深度学习算法和模型，多次参加数据类比赛并获奖...,"['数据分析师', '数据挖掘工程师', '其他']",5000,...,2周后到岗,[],[],['肥料登记数据分析[核心成员]:项目概述：肥料是农业生产中一种重要的生产资料，其生产销售必...,"['泰迪杯[二等奖]:第九届泰迪杯数据挖掘挑战赛', '泰迪杯[一等奖]:第四届泰迪杯数据分...",['韩山师范学院[本科]:[统计学]'],['广东泰迪智能科技股份有限公司[数据分析]'],"['Python[SKILLED]', 'MySql[GOOD]']",[],[]

In [4]:
for hunter_sex in frame_data['hunter_sex'].unique():
    if pd.isna(hunter_sex): continue
    print(hunter_sex, frame_data[frame_data['hunter_sex'] == hunter_sex].iloc[0, 0])

hunter_sex_kind_json = {0: '男', 1: '女'}

0.0 1579833809761861632
1.0 1630884821167374336

In [5]:
for exp_require_kind in frame_data['exp_require_kind'].unique():
    if pd.isna(exp_require_kind): continue
    print(exp_require_kind, frame_data[frame_data['exp_require_kind'] == exp_require_kind].iloc[0, 0])

exp_require_json = {0: '实习', 1: '无', 2: '全职'}

0.0 1579833809761861632
2.0 1631491020585828352
1.0 1484409030448381952

In [6]:
for hunter_sociality in frame_data['hunter_sociality'].unique():
    if pd.isna(hunter_sociality): continue
    print(hunter_sociality, frame_data[frame_data['hunter_sociality'] == hunter_sociality].iloc[0, 0])

require_kind_json = { 'MASSES': '群众', 'LEAGUE_MEMBER': '共青团员', 'PARTY_MEMBER': '党员', 'PROBATIONARY_PARTY_MEMBER': '预备党员'}

MASSES 1579833809761861632
LEAGUE_MEMBER 1631284316023685120
PARTY_MEMBER 1627308899029876736
PROBATIONARY_PARTY_MEMBER 1583024721031725056

In [7]:
save_frame = {"序号": [], '求职者 ID': [], '姓名': [], '性别': [], '年龄': [], '出生地': [], '社会属性': [], '工作经验': [], 
              '期望岗位': [], '期望薪资': [], '期望类型': [], '期望城市': [], '期望行业': [], '预计到岗': [], '工作经历': [], 
              '项目经历': [], '竞赛经历': [], '教育经历': [], '培训经历': [], '技能类型': [], '语言类型': [], '证书类型': []}

TEST, RECORD, count = True, 5, 0
size = frame_data.shape[0]

for inx in range(size):
    if TEST and inx % RECORD == 0: continue
    item = frame_data.iloc[inx, :]
    count += 1
    save_frame['序号'].append(count)
    save_frame['求职者 ID'].append('\t' + str(item['job_id']))
    save_frame['姓名'].append(item['hunter_name'])
    try:
        sex = hunter_sex_kind_json[item['hunter_sex']]
    except:
        sex = ''
    save_frame['性别'].append(sex)
    try:
        age = item['hunter_bthday'].replace('-', '/').replace('T', ' ').split(' ')[0]
        begin_year = datetime.strptime(age, '%Y/%m/%d').year
        end_year = datetime.now().year
        age = end_year - begin_year
    except:
        age = ''
    save_frame['年龄'].append(age)
    try:
        addr = cpca.transform([item['hunter_addr']])
        addr = ''.join([addr['省'][0], addr['市'][0]]).replace('市县', '市')
    except:
        addr = ''
    save_frame['出生地'].append(addr)
    try:
        sociality = require_kind_json[item['hunter_sociality']]
    except:
        sociality = ''
    save_frame['社会属性'].append(sociality)
    try:
        work_year = '无' if '无经验' in item['hunter_exp'] else (
            item['hunter_exp'].replace('工作经验', '') if '工作经验' in item['hunter_exp'] else item['hunter_exp'])
    except:
        work_year = ''
    save_frame['工作经验'].append(work_year)
    save_frame['期望岗位'].append(item['exp_position'])
    save_frame['期望薪资'].append([item['exp_min_wage'], item['exp_max_wage']])
    try:
        exp_require = exp_require_json[item['exp_require_kind']]
    except:
        exp_require = ''
    save_frame['期望类型'].append(exp_require)
    save_frame['期望城市'].append(item['exp_city'])
    save_frame['期望行业'].append(item['exp_industry'])
    try:
        report = item['exp_report'].replace('到岗', '') if item['exp_report'] else ''
    except:
        report = ''
    save_frame['预计到岗'].append(report)
    save_frame['工作经历'].append([exp.split(':')[0] for exp in eval(item['job_exps'])])
    save_frame['项目经历'].append([exp.split(':')[0] for exp in eval(item['project_exps'])])
    save_frame['竞赛经历'].append([exp.split(':')[0] for exp in eval(item['competition_exps'])])
    save_frame['教育经历'].append([exp.split(':')[0] for exp in eval(item['education_exps'])])
    save_frame['培训经历'].append([exp.split(':')[0] for exp in eval(item['training_exps'])])
    save_frame['技能类型'].append([exp.split(':')[0] for exp in eval(item['skill_exps'])])
    save_frame['语言类型'].append([exp.split(':')[0] for exp in eval(item['language_exps'])])
    save_frame['证书类型'].append([exp.split(':')[0] for exp in eval(item['cert_exps'])])

print(size, len(save_frame['序号']))
# for key, value in save_frame.items():
#     print(key, len(value))

save_frame = pd.DataFrame(save_frame)
save_frame.to_csv(save_csv_path, index=False, encoding="GBK", errors='ignore')

10831 8664